---
layout: archive
---

{{ content }}
<h3>Quick-Start Guides</h3>
<article>		    
  <p>We'll break down concepts and help you build career about them step by step.<br>
  Top guides include:</p>
  <ul>
  <li><a style="color:##308CC6;" href="http://www.google.com">How to get started with ML for Beginners</a></li>
  <li><a style="color:##308CC6;" href="http://www.google.com">How to get started with ML for Intermediates</a></li>
  <li><a style="color:##308CC6;" href="http://www.google.com">How to get started with ML for Advanced</a></li>
  <li><a style="color:##308CC6;" href="/recipes-archive/">>> See all of the guides.</a></li>
  </ul>
</article>
<br>
<br>
<h3>Cheatsheets</h3>
<article>		    
  <p>Save weeks of searching and debugging with our Top cheatsheets.</p>
  <ul>
  <li><a style="color:##308CC6;" href="http://www.google.com">R Basics Cheatsheet</a></li>
  </ul>
</article>
<br>
<br>
<h3>Books & Course Reviews</h3>
<article>	    
  <p>Coming Soon !</p>
</article>
