---
layout: archive
---

{{ content }}

<article>		    
  <h2>Quick-Start Guides</h2>
  <p>We'll break down concepts and help you build career about them step by step.<p>
  <p> Top guides include:<p>
  <a href="http://www.google.com">How to get started with ML for Beginners</a>
  <a href="http://www.google.com">How to get started with ML for Intermediates</a>
  <a href="http://www.google.com">How to get started with ML for Advanced</a>
  <a href="http://www.google.com">>> See all of the guides.</a>
</article>

<article>		    
  <h2>Cheatsheets</h2>
  <p>Save weeks of searching and debugging with our Top cheatsheets.<p>
  <a href="http://www.google.com">R Basics Cheatsheet</a>
</article>

<article>	    
  <h2>Books & Course Reviews</h2>
  <p>Coming Soon !</p>
</article>
