---
layout: archive
---

{{ content }}

<h3>Quick-Start Guides</h3>

<article>
		    
  <h2><a href="http://ml-india.org/india-compete-us-china-artificial-intelligence/" title="How Can India Compete With US and China on Artificial Intelligence?">How Can India Compete With US and China on Artificial Intelligence?</a></h2>
  <p>In 2016, I wrote about why data science is a huge opportunity for India and how India can aspire to be a leader in data science services. That led me to start ml-india.org – a platform to get India’s machine learning community under one roof to connect and multiply their success. Today, we have enabled 27 machine learning meetups, featured 55 companies, 11 research groups, 146 machine learning professionals and we run a mailing list of 1806 people. </p>

</article>


<h3>Cheatsheets</h3>

<article>
		    
  <h2><a href="http://ml-india.org/india-compete-us-china-artificial-intelligence/" title="How Can India Compete With US and China on Artificial Intelligence?">How Can India Compete With US and China on Artificial Intelligence?</a></h2>
  <p>In 2016, I wrote about why data science is a huge opportunity for India and how India can aspire to be a leader in data science services. That led me to start ml-india.org – a platform to get India’s machine learning community under one roof to connect and multiply their success. Today, we have enabled 27 machine learning meetups, featured 55 companies, 11 research groups, 146 machine learning professionals and we run a mailing list of 1806 people. </p>

</article>

<h3>Books & Course Reviews</h3>

<article>
		    
  <h2><a href="http://ml-india.org/india-compete-us-china-artificial-intelligence/" title="How Can India Compete With US and China on Artificial Intelligence?">How Can India Compete With US and China on Artificial Intelligence?</a></h2>
  <p>In 2016, I wrote about why data science is a huge opportunity for India and how India can aspire to be a leader in data science services. That led me to start ml-india.org – a platform to get India’s machine learning community under one roof to connect and multiply their success. Today, we have enabled 27 machine learning meetups, featured 55 companies, 11 research groups, 146 machine learning professionals and we run a mailing list of 1806 people. </p>

</article>